# .gitignore
# Ignore proposals
openspec/changes/*

# Do not ignore archived proposals
!openspec/changes/archive/

# skip docs
docs/

# ignore by default all hiden folders (like agents folders)
.*/

temp.*
*.temp

backups
