/* main cake layout */
body {
	width: 100vw;
    height: 100vh;
	position: relative
}

#cake-parts img {
	position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.horizontal #cake-parts img {
	width: auto;
    max-height: 100vh;	
	height: 100%;
}

.vertical #cake-parts img {
	height: 90%;
    max-width: none;
    width: auto;
}

#cake-parts .glow img {
	opacity: 0;
	z-index: 1;
	transition: all 1s ease-in-out;
}

#cake-parts .glow.visible img {
	opacity: 1;
}

.cake-button {
	content: "";
    width: 53vw;
    height: 11vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
	z-index: 3;
}

.horizontal .cake-button#button-1 {
	bottom: 24vh;	
}

.horizontal .cake-button#button-2 {
	bottom: 35vh;	
}

.horizontal .cake-button#button-3 {
	bottom: 46vh;	
}

.horizontal .cake-button#button-4 {
	bottom: 58vh;	
}

.horizontal .cake-button#button-5 {
	bottom: 70vh;	
}

.vertical .cake-button {
    transform: translate(-50%, -100%);
    width: 100vw;
}

.vertical .cake-button#button-1 {
	bottom: 9vh;
}

.vertical .cake-button#button-2 {
	bottom: 19vh;
}

.vertical .cake-button#button-3 {
	bottom: 30vh;
}

.vertical .cake-button#button-4 {
	bottom: 41vh;
}

.vertical .cake-button#button-5 {
	bottom: 52vh;
}


#cake-parts .text {
	mix-blend-mode: color-burn;
	z-index: 2;
	opacity: 0.8;
}

#cake-parts .text.over {
	mix-blend-mode: darken;
	z-index: 4;
	opacity: 0;
	transition: all 1s ease-in-out;
	pointer-events: none;
}

#cake-parts .text.over.visible {
	opacity: 1;
}

/* brand logo */
#logo img {
	width: 200px;
	height: auto;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: -1;
    mix-blend-mode: overlay;
}
